[user]
	email = marvinjason.sy@gmail.com
	name = marvinjason
[push]
	default = simple
[alias]
	co = checkout
	st = status
	cm = commit
	b  = branch
  l  = log --abbrev-commit
[core]
	excludesfile = ~/.gitignore_global
